body {
    background-color: rgb(18, 32, 32);
}
h1 {
    color: rgb(19, 118, 80);
    font-family: Comic Sans MS;
    text-shadow: 5px 5px 4px;
}
p {
    color: rgb(19, 118, 80);
    font-family: Comic Sans MS;
    font-size: 19px;
}

.pagination {
    text-align: center;
}
.pagination a {
    color: rgb(19, 118, 80);
    font-family: Comic Sans MS;
    font-size: 20px;
    padding: 8px 16px;
    text-decoration: none;
    position: relative;
    top: 360px;
}
.pagination a.active {
    background-color: rgb(19, 118, 80);
    color: rgb(18, 32, 32);
    border-radius: 20px;
}
.pagination a:hover:not(.active) {
    background-color: rgb(9, 49, 34);
    color: rgb(18, 32, 32);
    border-radius: 20px;
}
